<div class="champion-list">
  <h2>Champions</h2>

  <div *ngIf="errorMessage" class="error">
    <p>{{ errorMessage }}</p>
  </div>

  <div class="champion-cards">
    <div *ngFor="let champion of champions" class="champion-card">
      <img [src]="champion.photo" alt="{{ champion.name }}" class="champion-photo" />
      <div class="champion-info">
        <h3>{{ champion.name }}</h3>
        <p>{{ champion.position }}</p>
        <button [routerLink]="['/champion', champion._id]">View Details</button>
      </div>
    </div>
  </div>
</div>
