header {
  background-color: #234465;
  padding: 20px 0;
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

.logo-wrap {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 80px; 
  margin-right: 15px;
  border-radius: 10px;
}

.logo-text {
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 50%;
  flex-wrap: wrap;
  justify-content: center;
}

.main-nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 15px;
}

.main-nav li {
  background-color: #ff9f00;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-nav li:hover {
  transform: scale(1.1);
}

.main-nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.user-nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 15px;
}

.user-nav li {
  background-color: #ff9f00;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-nav li:hover {
  transform: scale(1.1);
}

.user-nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .logo-wrap {
    margin-bottom: 10px;
  }

  .nav-wrapper {
    width: 100%;
    justify-content: center;
  }

  .main-nav ul,
  .user-nav ul {
    flex-direction: column;
    gap: 10px;
  }
}
