<div class="champion-detail">
  <div class="hero">
    <div class="hero-content">
      <img [src]="champion?.photo" alt="{{ champion?.name }}" class="champion-photo" />
      <h1>{{ champion?.name }}</h1>
      <p class="position">{{ champion?.position }}</p>
    </div>
  </div>

  <div class="biography">
    <h2>Biography</h2>
    <p>{{ champion?.biography }}</p>
  </div>

  <button *ngIf="isLoggedIn" (click)="openEditModal()" class="edit-button">Edit Champion</button>
  <button *ngIf="isLoggedIn" (click)="deleteChampion()" class="delete-button">Delete Champion</button>


  <app-edit-champion-modal *ngIf="isModalOpen && champion" 
    [champion]="champion" 
    (saveChampion)="onSaveChampion($event)" 
    (closeModal)="closeModal()">
  </app-edit-champion-modal>

</div>
